---
---
@import "main";

* {
  padding: 0;
  margin: 40px;
}

body {
  background-color: black;
  color:white;
  height: 150%;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-top: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
}

a {
  text-decoration-line: none;
}

.center {
  text-align: center;
}

html {
  height: 100%
}

nav {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
}
