---
---
@import "main";

* {
  padding: 0;
}

body {
  margin: 80px;
  background-color: black;
  color:white;
  height: 150%;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-top: 0;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Calibri, sans-serif"; 
}

h1 {
  margin: 40px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  text-decoration-line: none;
  margin-left: 40px;
  margin-right: 40px;
}

a:hover {
  color: #967bb6;
}

.center {
  text-align: center;
}

html {
  height: 100%
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
