---
---
@import "main";

body {
  background-color: black;
}

h1 {
  color: white;
}

a {
  color: white;
}

.center {
  text-align: center;
}

html {
  height: 100%
}

* {
  margin: 400px;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  border-left: 20px solid white;
  border-right: 20px solid white;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0px;
}